<!DOCTYPE Html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <nav>
            <a href="#" class="logo">IT Strategy</a>
            <div class="search">
                <input type="search" id="fsearch" name="fsearch"  placeholder="Search" class="search-box">
                <button type="submit" class="button button-search">Искать</button>
            </div>
            <div class="line"></div>
        </nav>

        <div class="container">
            <div class="row-2cols">
                <div class="col-1">
                    <img src="/img/code.jpg" class="card-img-selected"/>
                </div>
                <div class="col-2">
                    <h1 class="text card-name-selected">Защита баз данных</h1>
                    <p class="text card-description-selected">
                        Внедрение блокчейна поможет вам улучшить 
                        эффективность бизнес-процессов, обеспечить прозрачность и безопасность данных, 
                        а также снизить затраты. Мы создадим для вас индивидуальное решение, 
                        которое поможет вашей компании выйти на новый уровень конкурентоспособности.
                    </p>
                    <button type="button" class="button button-show button-buy">Записаться</button>
                </div>
            </div>
        </div>
    </body>
</html>